@charset "UTF-8";


body {
    background-color:#49acc7;
}

p{
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(49, 113, 133, 0.822);
}

h1{
    color: #3B8EA5;
    text-align: center;
    text-shadow: 1px 1px 2px #58d8fc;
}
h2{
    color: #E3B505;
}